<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    
    <link rel="stylesheet" href="css/main.css">
    <title>MongoDB News</title>
  </head>
  <body style="background-color: #b4b4b4">
	{{{  body }}}
  </body>
  <footer class="page-footer grey darken-3 s12">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">MongoDB News</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Navigation</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="/saved">Saved Articles</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright
            </div>
          </div>
        </footer>
</html>